<a href="https://colab.research.google.com/github/Amibyte/python/blob/master/programmingexercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a python code to get largest number from a list

In [ ]:
def largeno(l):
  l.sort()
  return l[-1]
print(largeno([1,9,4,3,7,2]))

9

2. write a python code to search an element in the list

In [18]:
def search(l,k):
  l.count(k)
  if l.count(k) >= 1:
    return True
  return False
print(search([1,2,5,7],7))
print(search([4,5,6],7))

True
False

3. write a python program to sum all the elements in the list

In [ ]:
import functools
list1 = [9,8,3]
print(functools.reduce (lambda s,i:s+i, list1 ))

20

4. write python program to remove all the duplicates from the list.

In [15]:
list2 = [1,2,2,3,4,4,5]
b1 = []
for x in list2:
  if x not in b1:
    b1.append(x)
print(b1)

[1, 2, 3, 4, 5]

5. write a python function that takes two lists and returns true if they have atleast one common member

In [16]:
def common(b,c):
  for x in a:
    for y in b:
      if x==y:
        return True
  return False
print(common([1,2,5,6],[7,6,3,8]))
print(common([8,7,9],[1,2,3]))

True
False

6. write a program to append a list to second list

In [20]:
a = [1,2,3,4]
b = [5,6,7,8]
a.extend(b)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8]

7. write a program to check if a no if composite or not

In [29]:
n = int(input())
count = 0
for i in range(1,n):
  if n%i == 0:
    count +=1
if count > 1:
  print('Number is composite')
elif n ==1:
  print("number is neither prime nor composite")
else:
  print('number is not composite')

24
Number is composite

8. write a program to add two matrices using list

In [30]:
d = [[12,7,5],[4,5,6],[7,7,9]]
o = [[5,9,1],[6,9,3],[4,9,9]]

r = [[0,0,0],  [0,0,0],  [0,0,0]]

for i in range(len(d)):
   for j in range(len(d[0])):
       r[i][j] = d[i][j] + o[i][j]
print("sum = ",r)

sum =  [[17, 16, 6], [10, 14, 9], [11, 16, 18]]

9. write a program to check if string is palindrome or not.

In [41]:
word = input()
w =''
for x in range(1,len(word)+1):
  w = w + word[-x]
print(w)
if w == word:
  print('palindrome')
else:
  print("not a palindrome")

malayalam
malayalam
palindrome

10. write a program to print multiplication table of a number

In [13]:
def multi(x,i):
  return x*i
x = int(input())
for i in range(1,11):
  print(multi(x,i))

4
4
8
12
16
20
24
28
32
36
40